#fundo {
    background: rgb(252, 248, 197);
}

.container {

}

.sunny-watson{
    margin-top: 20px;
    width: 120%;
    margin: 0 auto;
}

#sendButtonMessage{

    left: 5px;
    top: 7px;
    height: 50px;
    width: 50px;

}

.topo {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button {
    float: right;
}

.h3-fonte {
    font-size: 6em;
    color: #b38b1c;
    font-family: 'arial';
}

.icons {
    padding-top: 7px;
    width: 5%;
}
.icones{
    background: linear-gradient(to right, #EBD685, #FEF8C4);
    height: 100px;


}

p{
    text-align: center;
    float: right;
    padding-right: 10px;
    padding-top: 40px;
    display: block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 16px;
}

section{

    padding: 10px;
    margin-left: 10px;
    float: left;

}



#usuario{
    float: left;
    width: 70px;
    margin-left: 10px;
    margin-top: 15px;
}

#porta{
  width: 80px;
  margin-left: 10px;
  margin-top: 15px;

}

#luz{
  width: 90px;
  margin-left: 10px;

}

#sol {
    max-width: 514px;
    width: 100%;
}

#termometro {

    width: 105px;
    height: 70px;
    max-height: 350px;
}

.button {
    display: inline-block;
    position: absolute;
    width: 29px;
    height: 29px;
    border-radius: 1.5625rem;
    background: #03a9f4;
    top: 1px;
    left: -15px;
    line-height: 3.125rem;
    vertical-align: middle;
}

.button img {
    width: 100%;
    height: 100%;
    vertical-align: center;
}

.circle{
    border-radius:100%;
    border: 3px solid #B8860B;
    width: 30px;
    height: 30px;
    background-color:#FFFFFF;
    margin-top: 55px;
    margin-left: 55px;
    color:#B8860B;
    font-size:20px;
    line-height:25px;
    text-align:center;
    position: absolute;

}



body{
    height: 820px;
}
