#messages-main {
    /*padding-top: 30px;*/
    position: relative;
    margin:  auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#view-change-button {
    display: inline-block;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    background: #03a9f4;
    top: 0.3125rem;
    right: 0.3125rem;
    line-height: 3.125rem;
    vertical-align: middle;
}

#view-change-button img {
    width: 100%;
    height: 100%;
    vertical-align: center;
}

#messages-main:after,
#messages-main:before {
    content: "";
    display: table;
}

#messages-main .ms-menu {
    position: absolute;
    margin-top: 15px;
    left: 0;
    top: 0;
    border-radius: 5px;
    border-right: 1px solid #eee;
    padding-bottom: 50px;
    height: 11px;
    width: 240px;
    background: #fff;
}

#messages-main .ms-menu.toggled {
    

    display: block;

}

#messages-main .ms-body {
    overflow: scroll;
    

}

#ms-menu-trigger i {
    font-size: 21px;
}

#ms-menu-trigger.toggled i:before {
    content: '\f2ea';
}
.fc-toolbar:before,
.login-content:after {
    content: ""
}
.message-feed {
    padding: 5px;
}
.message-feed:not(.right) .mf-content {
    background: #03a9f4;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.message-feed.right .mf-content {
    background: #eee;
}
.mf-content {
    padding-top: 20px;
    padding: 12px 17px 13px;
    border-radius: 2px;
    display: inline-block;
    max-width: 80%
}
.mf-date {
    display: block;
    color: #B3B3B3;
    margin-top: 7px;
}
.mf-date>i {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 1px;
}
.msb-reply {
    /*box-shadow: 0 -20px 20px -5px #fff;*/

    position: relative;
    margin-top: 20px;
    border-top: 1px solid #eee;
    background: #f8f8f8;
}
.four-zero,
.lc-block {
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}
.msb-reply textarea {
    width: 82%;
    font-size: 13px;
    border: 0;
    padding: 20px 15px;
    resize: none;
    height: 60px;
    background: 0 0;
}
.msb-reply button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    color: #2196f3;
    background: 0 0;
}
.msb-reply img {
    position: absolute;
    top: 18px;
    right: 45px;
    border: 0;
    height: 28px;
    width: 30px;
    font-size: 25px;
    color: #2196f3;
    background: 0 0;
}
.msb-reply button:hover {
    background: #ffffff;
}
.img-avatar {
    height: 37px;
    border-radius: 2px;
    width: 37px;
}
.list-group.lg-alt .list-group-item {
    border: 0;
}
.p-15 {
    padding: 15px!important;
}
.btn:not(.btn-alt) {
    border: 0;
}
.action-header {
    position: relative;
    background: #f8f8f8;
    text-align:center;
    padding: 15px 13px 15px 17px;
}
.ah-actions {
    z-index: 3;
    float: right;
    margin-top: 7px;
    position: relative;
}
.actions {
    list-style: none;
    padding: 0;
    margin: 0;
}
.actions>li {
    display: inline-block;
}
.actions:not(.a-alt)>li>a>i {
    color: #939393;
}
.actions>li>a>i {
    font-size: 20px;
}
.actions>li>a {
    display: block;
    padding: 0 10px;
}
.ms-body {
    
    background: #fff;
}
#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
    cursor: pointer;
}
#ms-menu-trigger,
.message-feed.right {
    text-align: right;
}
#ms-menu-trigger,
.toggle-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
}
.limit-overflow {}
.watson #messages-main .ms-body {
    /*overflow-y: 40px;*/
}
